<!doctype html>
<html>
  <head>
    <title>Host Lobby!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="new">
        <h1>Host Lobby</h1>
        <p> Waiting on others ...  </p>
      </div>
      <div id="messages">
        <!-- existing messages will be displayed here -->
      </div>
      <script>
        // get displayname 
        //fetch('/spotify-username').then(response => response.json()).then(data => console.log(data)).catch(error => console.error(error));

        const socket = new WebSocket('ws://localhost:3000');

        // Open connection to the web socket sever
        socket.addEventListener('open', (event) => {
          console.log('WebSocket connected');
          // Send message to web socket saying you have joined.
          fetch('/spotify-username')
              .then(response => response.json())
              .then(data => {
                message = data.user_name + " (owner) has joined"
                socket.send(message);
              })
              .catch(error => console.error(error));
        });

        // Recieved a message from the web socker
        socket.addEventListener('message', (event) => {
          const messagesDiv = document.getElementById('messages');
          const messageP = document.createElement('p');
          if (event.data instanceof Blob) {
            reader = new FileReader();

            reader.onload = () => {
              messageP.innerText = reader.result;
              messagesDiv.appendChild(messageP);
            };
            reader.readAsText(event.data);
          }
        });

      </script>
    </div>
  </body>
</html>