<!doctype html>
<html>
  <head>
    <title>Host Lobby!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="new">
        <h1>Host Lobby</h1>
        <p> Waiting on others ...  </p>
      </div>
    </div>
  </body>
</html>