<!doctype html>
<html>
  <head>
    <title>Host Lobby!</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="container">
      <div>
        <h1>Host Lobby</h1>
        <h2> Waiting on others ...  </h2>
      </div>
      <div id="host-lobby-link">
        <!-- Once link is recieved from server it will be displayed here -->
      </div>
      </div>
      <div id="messages">
        <!-- existing messages will be displayed here -->
      </div>
      <div>
      <button class="btn btn-default" onclick="getPlaylist()">Click when ready</button>
      </div>
      <script>
          // Connect to web socket running on server
          let playLID;
          fetch('/web-socket-server-id')
              .then(response => response.json())
              .then(data => {
                playLID = data.wss_id;
                // Create a paylist and add hosts tracks 
                fetch('/group-playlist', { method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({"playListId": data.wss_id})})
                .then(response => response.json()).then(d => {
                  console.log("group playlist data: " + d)

                server_url = `ws://localhost:${data.wss_port}/id/` + data.wss_id
                host_lobby_link = `https://localhost:4111/join-lobby?p=${data.wss_port}&id=${data.wss_id}`
                const linkDiv = document.getElementById('host-lobby-link');
                const linkA = document.createElement('a');
                linkA.href = host_lobby_link;
                linkA.innerText = host_lobby_link;
                linkDiv.appendChild(linkA);

                // connect to WS server
                const socket = new WebSocket(server_url);

                // Open connection to the web socket sever
                socket.addEventListener('open', (event) => {
                  console.log('WebSocket connected');
                  // Fetch the users display name
                  fetch('/spotify-username')
                      .then(response => response.json())
                      .then(data => {
                        var message = data.user_name + " (owner) has joined"
                        // Send message to web socket saying you have joined.
                        socket.send(message);
                      })
                      .catch(error => console.error(error));
                });

                // Recieved a message from the web socker
                socket.addEventListener('message', (event) => {
                  const messagesDiv = document.getElementById('messages');
                  const messageP = document.createElement('p');
                  if (event.data instanceof Blob) {
                    reader = new FileReader();

                    reader.onload = () => {
                      messageP.innerText = reader.result;
                      messagesDiv.appendChild(messageP);
                    };
                    reader.readAsText(event.data);
                  }
                });
                socket.send(message);
              })
              .catch(error => console.error(error));
            }).catch(error => console.log(error));
            
          function  getPlaylist(){
            // send get request
            get_playlist_url = 'http://localhost:4111/group-playlist/' + playLID
            fetch(get_playlist_url)
              .then(response => console.log(response.json()))
          }

      </script>
    </div>
  </body>
</html>