<!doctype html>
<html>
  <head>
    <title>Host Lobby!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="new">
        <h1>Host Lobby</h1>
        <p> Waiting on others ...  </p>
      </div>
      <div id="messages">
        <!-- existing messages will be displayed here -->
      </div>
      <script>
        const socket = new WebSocket('ws://localhost:3000');

        socket.addEventListener('open', (event) => {
        console.log('WebSocket connected');
        });
      </script>
    </div>
  </body>
</html>