<!doctype html>
<html>
  <head>
    <title>Join Lobby!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="new">
        <h1>Join Lobby</h1>
        <p> Joining a lobby ...  </p>
      </div>
    </div>
    <div id="messages">
      <!-- existing messages will be displayed here -->
    </div>
    <script>
        const socket = new WebSocket('ws://localhost:3000');

        // Open connection to the web socket sever
        socket.addEventListener('open', (event) => {
          console.log('WebSocket connected');
          // Send message to web socket saying you have joined.
          message = "Client has joined";
          socket.send(message);
        });

        // Recieved a message from the web socker
        socket.addEventListener('message', (event) => {
          const messagesDiv = document.getElementById('messages');
          const messageP = document.createElement('p');
          if (event.data instanceof Blob) {
            reader = new FileReader();

            reader.onload = () => {
              messageP.innerText = reader.result;
              messagesDiv.appendChild(messageP);
            };
            reader.readAsText(event.data);
          }
        });
      </script>
  </body>
</html>
