<!doctype html>
<html>
  <head>
    <title>Choose session mode</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="new">
        <h1>New Session</h1>
        <a href="/mode" class="btn btn-primary">New Party</a>
      </div>
      <div id="join">
        <h1>Join a Session</h1>
        <a href="/mode" class="btn btn-primary">Join Party</a>
      </div>
    </div>
  </body>
</html>
