h1 {
  font-size: 4vw;
  margin-bottom: 2vw;
}

h2 {
  font-size: 3vw;
  margin-bottom: 2vw;
}

p {
  font-size: 2.7vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

/*button {
  font-size: 2.7vw;
  margin-top: 2vw;
  padding: 1vw 2vw;
}*/

.link-container {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 10px;
}

.copy-btn {
  /* Add your desired CSS styles for the copy button */
  background-color: #f0f0f0;
  color: #333;
  padding: 1vw 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary{
  font-size: 2.7vw;
  color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary:hover,
  .btn-primary:focus,.btn-primary:active,.btn-primary.active,
  .open .dropdown-toggle.btn-primary{color:#fff;background-color:#3276b1;border-color:#285e8e}.btn-primary:active,
  .btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,
  .btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}

.btn-default{
  font-size: 2.7vw;
  margin-top: 2vw;
  padding: 1vw 2vw;
  color:#333;background-color:#fff;border-color:#ccc}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{color:#333;background-color:#ebebeb;border-color:#adadad}.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}
