h1 {
  font-size: 4vw;
  margin-bottom: 2vw;
}

h1 {
  font-size: 3vw;
  margin-bottom: 2vw;
}

p {
  font-size: 2.7vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

button {
  font-size: 2.7vw;
  margin-top: 2vw;
  padding: 1vw 2vw;
}

/* Media queries for responsive design 
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }
  
  p {
    font-size: 2vw;
    margin-bottom: 2.5vw;
  }
  
  button {
    font-size: 2vw;
    margin-top: 1vw;
    padding: 0.5vw 1vw;
  }
}
*/
