<!DOCTYPE html>
<html>
  <head>
    <title>Real-time Messenger</title>
  </head>
  <body>
    <div id="messages">
      <!-- existing messages will be displayed here -->
    </div>
    <script src="client.js"></script>
  </body>
</html>
